{%extends 'base.html/'%} {%block content%} {% if user.username == user.username %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .fa {
        font-size: 20px;
        cursor: pointer;
        user-select: none;
    }
    
    .fa:hover {
        color: darkblue;
    }
    
    body {
        background-size: 100%;
    }
</style>

<body>
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <div class="w3-row">

            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <div class="w3-light-grey">
                        <h4 class="w3-center" style="padding-top:25px;padding-bottom:40px;">@{{user.username}}
                            <a class="btn btn-edit" style="margin-left:25px;" href=""><i class="fa fa-gear"  style="font-size:36px;"></i></a> {%if user.profile.profile_image%}
                            <p class="w3-center"><img src="{{user.profile.profile_image.url}}" class="w3-circle" style="height:120px;width:120px"></p>
                            <hr> {%else%}
                            <p class="w3-left"><img src="/static/images/avatar.png" class="w3-circle" style="height:120px;width:120px"></p>
                            <hr> {%endif%}

                        </h4>
                        <p><i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i> Username: <b>@{{user.username }} </b></p>
                        <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> BIO: <b> {{user.profile.bio}} </b></p>
                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-text-theme"></i> Email : <a href="emailto:{{user.email}}">{{user.email}}</a></p>
                        <p><i class="fa fa-laptop fa-fw w3-margin-right w3-text-theme"></i> Posts :{{user.images.count}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-6 ">
            {% for project in projects%}

            <div class="panel panel-default" style="margin-top:50px;width:80%; margin-left: 25px; margin-right: 25px;">

                <div class="panel-body">
                    <img src="{{project.image_url.url}}" class="img-responsive" alt="Image" style="width:250px; height:350px;margin:auto; margin-left: auto;margin-right:auto;"><br>
                    <h3>{{project.poster}}:{{project.description}} </h3>
                </div>

                <h4 style="font-size:12px;color:grey; margin-top:10px"><i class="fa fa-history"> </i>{{image.date|timesince|upper}} AGO</h4>
            </div>
        </div>
        {%endfor%}
    </div>
    {%else%}
    <p> Welcome to {{profile.user.username}}</p>
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <div class="w3-row">

            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <div class="w3-light-grey">
                        <h4 class="w3-center" style="padding-top:25px;padding-bottom:15px;">@{{profile.username}}</h4>
                        {%if user.profile.profile_image%}
                        <p class="w3-center"><img src="{{user.profile.profile_image.url}}" class="w3-circle" style="height:150px;width:150px"></p>
                        <hr> {%else%}
                        <p class="w3-left"><img src="/static/images/avatar.png" class="w3-circle" style="height:120px;width:120px"></p>
                        <hr> {%endif%}

                        <p><i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i> Username: <b>@{{user.username }} </b></p>
                        <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> BIO: <b> {{user.profile.bio}} </b></p>
                        <p><i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i> Followers: <b>{{followers}} </b></p>
                        <p><i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i> Following : <b>{{following}} </b></p>
                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-text-theme"></i> Email : <a href="emailto:{{user.email}}">{{user.email}}</a></p>
                        <p><i class="fa fa-image fa-fw w3-margin-right w3-text-theme"></i> Posts :{{user.images.count}}</p>
                    </div>
                </div>
            </div>
        </div>

        {% for project in projects%}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-default" style="margin-top:50px;width:80%; margin-left: 25px; margin-right: 25px;">

                <div class="panel-body">
                    <img src="{{project.image_url.url}}" class="img-responsive" alt="Image" style="width:350px; height:350px;margin:auto; margin-left: auto;margin-right:auto;"><br>
                    <h3>{{image.poster}}:{{image.caption}} </h3>
                </div>

                <h4 style="font-size:12px;color:grey; margin-top:10px"><i class="fa fa-history"> </i>{{image.date|timesince|upper}} AGO</h4>
            </div>
        </div>
        {%endfor%} {%endif%} {%endblock%}